<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div id="banner">
          <h1>Scanamo</h1>
          <ul id="toolbox">
              <li>Build: <a href="https://travis-ci.org/guardian/scanamo">Travis</a></li>
              <li>Api: <a href="latest/api/#com.gu.scanamo.DynamoFormat">Scaladoc</a></li>
          </ul>
        </div>
      </div>
      <div id="content">
        {{ content }}
      </div>
      <div id="footer">
        <p>Last updated on <em>{{ site.time | date: '%B %d, %Y' }}</em></p>
      </div>
    </div>
  </body>
</html>
